@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

@font-face {
  font-family: "OpenSans Condensed";
  src: url("./OpenSans_Condensed-Light.woff") format("woff");
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
figure {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: #767676;
  font-family: "PT Sans", sans-serif;
  font-kerning: none;
  font-size: 14px;
  line-height: 22px;
}

.header {
  justify-self: flex-start;
  width: 100%;
  background-color: #dcdcdc;
}

.wrapper {
  display: flex;
  width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
}

.header .wrapper {
  align-items: center;
  justify-content: space-between;
  height: 230px;
}

.header__logo {
 justify-self: flex-start;
}

.header__rightblock {
  justify-self: flex-end;
  letter-spacing: 0.5px;
  text-align: right;
}

.header__phone {
  font-family: OpenSans Condensed;
  font-weight: 300;
  font-size: 40px;
  line-height: 46px;
}

.header__contact {
  margin: 5px 0 40px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: dashed underline;
  text-underline-offset: 6px;
}

.menu {
  width: 100%;
  height: 80px;
  padding: 15px 0 23px;
  color: #ffffff;;
  font-size: 30px;
  line-height: 42px;
  background-color: #777777;
}

.menu__list {
  max-width: 1000px;
  width: max-content;
}

.menu__list-item:not(:last-child)::after {
  margin: 0 21px;
  content: '|';
}

.slider {
  width: 100%;
  height: 400px;
}

.breadcrumb {
  height: 30px;
  padding: 4px 0;
  margin-bottom: 19px;
}

.breadcrumb a {
  text-decoration: underline;
}

.breadcrumb__item:not(:last-child)::after {
  display: inline-block;
  width: 25px;
  text-align: center;
  content: '/';
}

.content.wrapper {
  justify-content: space-between;
}

.content__leftblock {
  justify-self: flex-start;
  width: 180px;
}

.content__category-item {
  font-size: 18px;
  margin-bottom: 7px;
}

.content__category-item_active {
  text-decoration: underline;
}

.content__subcategory-list {
  font-size: 14px;
}

.content__subcategory-item::before {
  margin: 0 5px 0 8px;
  color: #767676;
  text-decoration: none;
  content: '•';
}

.content__subcategory-item_active {
  color: #010101;
  text-decoration: underline;
}

.xls-link {
  display: block;
  width: 100%;
  margin: 108px 0 30px;
  padding-top: 111px;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  background-image: url('../img/excel.png');
  background-repeat: no-repeat;
  background-position: center top;
}

.content__centerblock {
  justify-self: flex-end;
  width: 780px;
}

.content__products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 15px;
  width: 100%;
}

.content__product-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 380px;
  padding: 20px 20px 15px;
  background-color: #dcdcdc;
}

.content__product-image {
  width: 210px;
  height: 210px;
  object-fit: cover;
}

.content__product-name {
  margin: 17px 0;
  font-size: 19px;
  font-weight: normal;
  line-height: 1;
}

.content__product-price {
  color: #444444;
  font-size: 28px;
  line-height: 28px;
  font-weight: bold;
}

.content__product-card .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 0 0;
}

.add-to-cart {
  border: 0;
  margin: 0;
  padding: 0;
  width: 40px;
  margin: 0 10px;
  height: 21px;
  background-color: transparent;
  background-image: url('../img/addtocart.png');
  background-repeat: no-repeat;
  background-position: center;
}

.content__page-list {
  display: flex;
  gap: 20px;
  width: max-content;
  margin: 30px auto 60px;
}

.content__page-link_active {
  font-size: 18px;
}

.content__about {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  font-size: 14.5px;
  border-top: 1px solid #777777;
}

.content__about-column {
  width: 370px;
}


.footer {
  justify-self: flex-end;
  width: 100%;
  margin: 174px 0 0;
  padding: 44px 0;
  color: #ffffff;
  background-color: #767676;
}

.footer__copyright {
  width: 310px;
  margin-right: 40px;
}

.footer__nav {
  width: 220px;
}

.footer__nav-list-item {
  margin-bottom: 4px;
  text-decoration: underline;
}

.footer__development {
  display: flex;
  width: 225px;
  margin-left: auto;
}

.footer__dev-logo {
  width: 36px;
  height: 38px;
  object-fit: contain;
  margin: 6px 8px 0 0;
}

._hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}